
<div class="top-row ps-3 navbar navbar-dark">
    
    <div class="container-fluid d-flex flex-column align-items-center">
        <img src="images/logo-white.png" alt="MJOP Logo" class="app-logo" />
        <a class="navbar-brand" href="">AM HUB</a>
    </div>

</div>


<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div  onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        
        <div class="nav-item px-3">
            
        <NavLink class="nav-link" href="mjob">
            <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> MJOB
        </NavLink>

        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="modellen">
                <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> MODELLEN
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="offertes">
                <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> OFFERTES
            </NavLink>
        </div>
    </nav>
</div>

