<!--
    Vaste offerte-inhoud gebaseerd op "verbeterde soc".
    Geen offerte-unieke waarden horen hier te staan.
    Hoofdstukken starten op een nieuwe pagina, maar de inhoud
    binnen een hoofdstuk mag automatisch over meerdere A4-pagina's doorlopen.
-->

<section class="document-section page-start">
    <h1>1. Uitgangspunten</h1>

    <h2>1.1: "0" inspectie</h2>
    <p>
        De noodstroominstallatie moet jaarlijks preventief onderhouden worden.
        Daarvoor zijn niet alleen de juiste materialen benodigd, maar moeten ook
        schema's en certificaten aanwezig zijn. Daarnaast kunnen er unieke of
        bijzondere aanpassingen aan de installatie zijn gedaan, die voordat het
        eerste onderhoud uitgevoerd kan worden, bekend en voorbereid moeten zijn.
        Voor aanvang van een onderhoudsovereenkomst moet daarom (bij voor KVT
        onbekende installaties) een zogenaamde "0" inspectie worden uitgevoerd.
        Tijdens deze inspectie wordt de installatie door één van onze engineers
        geschouwd en worden tal van gegevens en documenten verzameld en
        geïnventariseerd. Daarnaast zal er een smeerolie monster worden genomen.
        Ook worden eventueel zichtbare defecten beoordeeld opdat we voor de eerste
        onderhoudsbeurt de juiste standaard materialen kunnen reserveren,
        eventueel aangevuld met door ons geadviseerde extra delen/direct uit te
        voeren reparaties.
    </p>

    <h2>1.2: Jaarlijks preventief onderhoud</h2>
    <p>
        De noodstroominstallatie moet jaarlijks preventief onderhouden worden.
        Wij kunnen deze werkzaamheden voor u uitvoeren en aansluitend kortstondig
        (maximaal 1 uur) testen op bestaande gebouw belasting of anders onbelast.
        Tijdens dit onderhoud wordt de installatie op tal van punten gecontroleerd
        en zo nodig afgesteld. Daarnaast worden preventief (verbruiks)delen zoals
        smeeroliefilters en brandstoffilters vervangen. De smeerolie zal bij
        installaties kleiner dan 250 kVA standaard vervangen worden (de kosten
        voor de smeerolie zijn in de materiaalprijs opgenomen). Bij installaties
        groter dan 250 kVA zal er een smeerolie monster genomen worden, welke zal
        worden geanalyseerd. De kosten voor deze analyse zijn in de
        materiaalkosten opgenomen. Op basis van de uitkomsten van de smeerolie
        analyse kan geadviseerd worden de smeerolie te vervangen en/of verder
        onderzoek uit te voeren (tegen meerprijs).
    </p>

    <h2>1.3: Brandstoftank controle</h2>
    <p>
        Jaarlijks moet de separaat opgestelde (onder en/of bovengronds)
        brandstoftank worden gecontroleerd op basis van de wettelijk verplichte
        BRL SIKB 7800 richtlijnen. Tijdens deze controle wordt niet alleen de tank
        zelf beoordeeld maar ook de brandstof op aanwezigheid van water en/of
        bezinksel. De jaarlijkse controle van de bovengrondse tankinstallatie is
        op basis van de PGS 30 (v/h CPR 9-6) richtlijnen en wordt in combinatie
        met het jaarlijks onderhoud uitgevoerd, of tegen meerprijs op een ander
        moment.
    </p>
    <div class="notice">
        <strong>Let op:</strong> zogenaamde "in frame" tanks, dus tanks die een integraal
        onderdeel zijn van het generatorset, behoeven geen controle op basis van
        deze richtlijnen.
    </div>
    <p>
        Ondergrondse brandstoftanks worden u tegen meerprijs aangeboden, de
        werkzaamheden worden door een derde partij uitgevoerd.
    </p>

    <h2>1.4: 1/2 jaarlijkse inspectie</h2>
    <p>
        De noodstroominstallatie moet minimaal jaarlijks preventief onderhouden
        worden. Desgewenst kunnen wij ook een halfjaarlijkse inspectie uitvoeren
        en aansluitend kortstondig (maximaal 1 uur) testen op bestaande
        gebouwbelasting of anders onbelast. Ook tijdens dit onderhoud wordt de
        installatie op tal van punten gecontroleerd en zo nodig afgesteld, er
        zullen echter geen onderdelen (zoals filters of olie) vervangen worden.
    </p>

    <h2>1.5: Deelname storingsdienst, op basis van 365/24/7 - 4 uur response</h2>
    <p>
        Ondanks vakkundig onderhoud kan de noodstroominstallatie in storing raken.
        Om 24/7, 365 dagen per jaar verzekerd te zijn van storingsopvolging kunt u
        een storingsresponse contract afsluiten. Dit contract geeft u recht op het
        gebruik maken van onze storingsdienst en verzekert u ervan dat er wanneer
        dat noodzakelijk is een storingsmonteur binnen 4 uur bij op locatie is
        (en/of er maatregelen zijn genomen om de noodstroomfunctie te herstellen).
    </p>

    <h2>1.6: Maandelijks proefdraaien</h2>
    <p>
        De installatie moet minimaal maandelijks beproefd worden. Dit omdat de
        dieselmotor intern gesmeerd moet worden, de interne vloeistoffen en
        smeermiddelen moeten circuleren. Het niet regelmatig beproeven van de
        motor kan tot zeer ernstige motorschade leiden bij een plotselinge opstart.
        Tijdens het beproeven van de installatie wordt de functionaliteit van de
        installatie beoordeeld en kunnen eventuele onregelmatigheden worden
        opgemerkt. Wij kunnen het maandelijks beproeven voor u uitvoeren. Het
        proefdraaien vindt bij voorkeur op bestaande gebouw belasting plaats.
        Indien niet op gebouwbelasting beproefd kan worden zal onbelast worden
        beproefd.
    </p>

    <h2>1.7: Belast beproeven met loadbank (i.c.m. onderhoud, max 700 kW)</h2>
    <p>
        Wij adviseren om de noodstroominstallatie, naast maandelijks proefdraaien,
        minimaal 1x per jaar onder belasting (minimaal 60% van het maximale
        vermogen) te beproeven. Tijdens het belast testen van de installatie wordt
        beoordeeld of de motor onder belasting juist functioneert. Door de
        dieselmotor regelmatig belast te testen verlengt u de levensduur doordat
        de motor zich onder belasting als het ware "schoon brand", en ernstige
        motorschades kunnen worden voorkomen. Indien dit niet kan op bestaande
        (gebouw) belasting, kunnen wij dit (bijvoorbeeld in combinatie met het
        jaarlijks preventief onderhoud) uitvoeren met gebruikmaking van onze
        mobiele belasting weerstand (normaliter max. 1 uur op vollast). Deze
        mobiele kunstbelasting moet vrij (op aanhanger) binnen een straal van
        25 meter van de noodstroominstallatie kunnen worden geplaatst en de
        aansluitkabels moeten vanaf straatniveau de NSA ruimte kunnen bereiken.
    </p>

    <h2>1.8: Elektrotechnische inspectie (bij voorkeur eens per 4 jaar)</h2>
    <p>
        Naast de jaarlijkse (visuele) controle van de elektrotechnische
        componenten in de noodstroominstallatie, zoals de generator en het
        laagspanning besturingspaneel, adviseren wij de installatie elke 4 jaar
        grondig te laten analyseren.
    </p>
    <p>
        Tijdens deze analyse zal o.a. bij de generator de winding- en isolatie
        weerstand worden gemeten (stator, rotor en op wekker). Tevens zullen de
        motorbedrading en toegepaste elektrotechnische componenten worden
        gecontroleerd en beoordeeld. Het besturingspaneel zal worden beoordeeld
        op zogenaamde "hot spots" (door o.a. loszittende bedrading kan de
        oplopende temperatuur brand veroorzaken), verbindingen, klemmen en status
        van de bedrading. Daarnaast worden de bediening en indicatie/meet
        instrumenten grondig gecontroleerd. Alle gebruikte componenten worden
        beoordeeld op functionaliteit, leeftijd en beschikbaarheid. Aansluitend
        zal een rapport met aanbevelingen voor mogelijke verbeteringen of
        (preventieve) vervangingen worden opgemaakt.
    </p>
    <p>
        De elektrotechnische inspectie zal worden uitgevoerd op basis van de
        SCIOS Scope 8. De inspectie bestaat uit een deel visuele controle en een
        deel meten en beproeven. Het besturingspaneel zal worden getoetst op
        functionaliteit, ordelijkheid en netheid, de beschikbare tekeningen en
        algehele courante staat van de toegepaste componenten. Dit op basis van
        geldende normen zoals bijv. NEN-EN-IEC 60204-1, NEN 1010, NPR 8040-1.
        Het betreft een inspectie op het besturingspaneel en de generator van de
        NSA, andere delen van de installatie zijn expliciet uitgesloten van deze
        inspectie.
    </p>

    <div class="notice">
        <strong>Let op:</strong> Voor het uitvoeren van de E-inspectie is het
        noodzakelijk dat de installatie tijdelijk uit bedrijf genomen wordt.
        De noodstroominstallatie zal naar verwachting maximaal 2 uur niet
        beschikbaar zijn.
    </div>

    <div class="notice"><strong>Let op:</strong> Installatieverantwoordelijkheid (zie hoofdstuk 4.3)</div>

    <h2>1.9: Smeerolie analyse (extra)</h2>
    <p>
        Smeerolie is aan veroudering en (microbiologische) vervuiling onderhevig.
        Bij installaties die groter zijn dan 250 kVA wordt de smeerolie standaard
        niet ververst maar nemen wij een monster om de conditie te bepalen.
        Desgewenst of indien noodzakelijk kunnen er op meerdere momenten monsters
        genomen worden. De smeerolie wordt onderzocht op algemene conditie van de
        smeerolie, aanwezigheid van vervuiling, aanwezigheid van brandstof en/of
        de aanwezigheid van (koel) water.
    </p>
    <p>
        De prijs voor dit extra smeerolie monster is gebaseerd op het nemen van
        een monster in combinatie met uitvoeren van een onderhoudstaak, ergo we
        hoeven er niet apart voor te rijden.
    </p>

    <h2>1.10: Brandstof analyse</h2>
    <p>
        Brandstof is aan veroudering en (microbiologische) vervuiling onderhevig.
        Het periodiek monsteren van de brandstof wordt met klem aanbevolen, dit
        om tijdig problemen te signaleren en daarop correctieve acties te
        ondernemen.
    </p>
    <p>
        In combinatie met het preventief onderhoud kunnen wij een brandstofmonster
        nemen om de conditie te bepalen. Het brandstofmonster wordt door een
        geaccrediteerd laboratorium onderzocht met als referentie de NEN EN:590.
        Op basis van de uitslag van de rapportage kunnen we eventuele noodzakelijke
        correctieve acties adviseren.
    </p>

    <h2>1.11: Koelmedium analyse</h2>
    <p>
        Koelmedium is aan veroudering en (microbiologische) vervuiling onderhevig.
        Het regelmatig laten controleren van het koelmedium vergroot de
        betrouwbaarheid van uw installatie en voorkomt onverwacht uitval. Het
        koelmedium zal onderzocht worden op o.a.: glycol concentratie, erosie en
        corrosie bescherming, pH waarde, vorstbestendigheid en identificatie van
        metalen.
    </p>

    <h1>2. Opties</h1>

    <h2>2.1: Vermogensschakelaars</h2>
    <p>
        Verminderd (of niet) functionerende vermogensschakelaars kunnen ernstige
        schade toebrengen aan uw noodstroominstallatie. Daarom moeten deze
        periodiek getest en onderhouden worden. Desgewenst kan er, na opname van
        het aantal, merk en type vermogensschakelaar, een passende offerte worden
        opgesteld.
    </p>
    <div class="notice">
        <strong>Let op:</strong> Het onderhoud aan de vermogensautomaten
        (net- en generatorschakelaar) als OOK de schakelaar die op het NSA
        gemonteerd zit vallen NIET in onze onderhoudsscope!
    </div>

    <h2>2.2: Meer jaren preventief onderhoud / MJOB (4-8 jaar)</h2>
    <p>
        Er zijn precaire onderdelen in noodstroominstallaties toegepast, die in
        aanvulling op het jaarlijks preventief onderhoud elke 4 jaar en/of elke
        8 jaar gecontroleerd of preventief vervangen moeten worden.
    </p>
    <p>
        Wij adviseren, gebaseerd op o.a. onze ervaring, elke 4 jaar (in combinatie
        met het jaarlijks onderhoud) de startbatterijen en de PLC-back up batterij
        te vervangen alsmede het koelmedium, de koelwatervoorverwarming en ook het
        luchtfilter.
    </p>
    <p>
        Wij adviseren elke 8 jaar, in aanvulling op het voorgaande, ook de
        waterslangen en de V-riemen te vervangen.
    </p>
    <p>
        Indien u een gedetailleerd MJOB wenst kan KVT deze tegen meerkosten voor
        u verzorgen.
    </p>
</section>

<section class="document-section page-start">
    <h1>3. Omschrijving werkzaamheden jaarlijks preventief onderhoud</h1>

    <ul>
        <li>Uitvoeren van een Last Minute Risico Analyse (VCA)</li>
        <li>Controleren van het oliepeil inclusief het vernieuwen van de smeeroliefilters</li>
        <li>Motorolie verversen (motoren &lt; 250 kVA)</li>
        <li>Motorolie analyseren op viscositeit en vervuiling door brandstof en/of koelmedium (motoren &gt; 250 kVA)</li>
        <li>Controleren brandstofsysteem op uitwendige lekkages</li>
        <li>Vervangen van de brandstof(voor)filter(s)</li>
        <li>Controle (visueel) trimpompinstallatie (indien aanwezig)</li>
        <li>Brandstof opvoerpomp controleren en zeef reinigen</li>
        <li>Controleren van koelvloeistof op niveau, concentratie en pH</li>
        <li>Controleren of vervangen waterfilter</li>
        <li>Controleren van koelwaterslangen op dichtheid en kwaliteit</li>
        <li>Koelwater voorverwarming controleren op goede werking en juiste temperatuur</li>
        <li>Het contoleren en indien mogelijk reinigen van luchtfilter (*)</li>
        <li>Beoordelen noodzaak afstellen klepspeling (op basis van draaiuren/visuele waarneming/steekproef) (**)</li>
        <li>Carter ontluchting controleren</li>
        <li>Controleren van de ventilatorriem en indien nodig opnieuw spannen (*)</li>
        <li>Uitlaatgassenleiding controleren op beschadigingen en eventuele lekkages</li>
        <li>Controle luchtklepbediening</li>
        <li>Controleren van de startbatterijen op lading, elektrolytniveau en leeftijd</li>
        <li>Controle accu laadinrichting op juiste werking, laadstroomverdeling en eventueel opnieuw afstellen</li>
        <li>Visuele controle 24 volts besturingspaneel, bekabeling, relais, bedieningen en signaleringen</li>
        <li>Controle start/stop automatiek bij proefstart onbelast</li>
        <li>Controle generator (visueel) op vervuiling, kabelaansluiting en fundatie</li>
        <li>Controle spanning en frequentie bij proefstart onbelast</li>
        <li>Controle (visueel, geen kalibratie) van minimaal de volgende motorbeveiligingen: smeeroliedruk, koelwatertemperatuur en noodstop (controle geschiedt op basis van KVT inzichten.)</li>
        <li>Controle spanning, frequentie en vermogen bij proefstart belast (gebouwbelasting, alleen in overleg.)</li>
        <li>Tijdens het belast proefdraaien, alleen indien mogelijk op bestaande gebouw belasting, motor en generator controleren op goede werking (smeeroliedruk, temperaturen en beveiligingen)</li>
        <li>Controle net/noodschakeling (alleen in overleg en alleen in opdracht van locatieverantwoordelijke)</li>
        <li>Controle synchronisatie (alleen in overleg en alleen in opdracht van locatieverantwoordelijke)</li>
        <li>Opstellen van een beknopt servicerapport in de Nederlandse taal, met waar nodig aanbevelingen</li>
    </ul>

    <div class="notice">
        <strong>Let op:</strong> Het onderhoud aan de vermogensautomaten
        (net- en generatorschakelaar) als OOK de schakelaar die op het NSA
        gemonteerd zit vallen NIET in onze onderhoudsscope!
    </div>

    <p>(*) Luchtfilters en snaren worden niet standaard preventief vervangen.</p>
    <p>
        (**) De door de fabrikanten voorgeschreven frequentie van de
        klepspelingcontrole is veelal gebaseerd op continu draaiende motoren.
        De motoren van NSA's draaien echter zeer weinig uren, waardoor frequent
        controleren/afstellen onnodig is.
    </p>
    <p><em>
        Opmerking: de uit te voeren werkzaamheden zijn o.a. merk en type
        afhankelijk, en kunnen aangepast moeten worden aan de situatie.
    </em></p>

    
</section>

<section class="document-section page-start">
    <h1>4. Veiligheid, Gezondheid en Milieu</h1>

    <h2>4.1: Taak Risico Analyse</h2>
    <p>
        Koninklijke Van Twist neemt veilig werken en secuur omgaan met het milieu
        zeer serieus, en is VCA** gecertificeerd. Voor de uitvoering van de door
        ons aangeboden werken is standaard een Taak Risico Analyse opgesteld,
        welke op verzoek beschikbaar is. Het op verzoek van opdrachtgever (of
        haar opdrachtgever) opstellen van extra, aanvullende of anderzijds klant
        specifieke aangepaste Taak Risico Analyses kunnen wij uitsluitend tegen
        meerkosten uitvoeren, tenzij vooraf anders overeengekomen.
    </p>

    <h2>4.2: V&amp;G plan</h2>
    <p>
        Voor de uit te voeren werkzaamheden zal geen apart V&amp;G plan worden
        opgesteld. Mochten de omstandigheden op locatie daar aanleiding toe geven
        kan in overleg met de opdrachtgever een specifiek V&amp;G plan worden
        opgesteld. De kosten daarvoor worden als meerwerk doorbelast.
    </p>

    <h2>4.3: Installatieverantwoordelijkheid</h2>
    <p>
        Koninklijke Van Twist voert de werkzaamheden uit volgens de eisen die
        gesteld mogen worden aan goed vakmanschap, zoals bedoeld in de norm
        NEN 3140. Al onze service engineers zijn daartoe getraind en aangewezen
        door onze eigen installatieverantwoordelijke medewerker. In de praktijk
        is er vaak geen werkverantwoordelijke van u, onze opdrachtgever, op locatie
        aanwezig om de werkzaamheden te begeleiden. Wij wijzen u daarom specifiek
        op artikel F.7 uit de NEN 3140 waarin staat:
    </p>
    <p>
        Bij werkzaamheden uit te voeren door servicebedrijven en
        installatiebedrijven is er op de (werk) locatie niet altijd een door de
        opdrachtgever aangewezen werkverantwoordelijke. Er hoeft geen
        werkverantwoordelijke te zijn aangewezen wanneer vakbekwame personen en
        voldoende onderrichte personen zijn ingezet, en aan de volgende
        voorwaarden is voldaan:
    </p>
    <ul>
        <li>De werkzaamheden bestaan alleen uit spanningsloos werken, meten en bedienen volgens NEN 3140</li>
        <li>Toezicht en periodieke evaluaties voldoende zijn geregeld</li>
        <li>De aanwijzingen zijn ingeregeld in overleg met een elektrotechnisch deskundige met gedegen kennis van NEN 3140</li>
    </ul>
    <p>
        Afsluitend: Koninklijke Van Twist kan en zal de
        "installatieverantwoordelijkheid" niet overnemen, de invulling van deze rol
        blijft te allen tijden de verantwoordelijkheid van onze opdrachtgever.
        Daarnaast dragen wij alleen werkverantwoordelijkheid voor dat deel van de
        installatie waaraan onze service engineers werkzaamheden uitvoeren.
    </p>

    <h2>4.4: Milieu</h2>
    <p>
        Koninklijke Van Twist streeft ernaar tijdens de uitvoering van de haar
        opgedragen werken een minimale belasting op het milieu te hebben. Bij alle
        werken en leveringen wordt gehandeld conform hetgeen omschreven in het KAM
        handboek Koninklijke Van Twist, specifiek het deel met betrekking tot de
        ISO:14001 norm.
    </p>

    <h2>4.5: Asbest</h2>
    <p>
        Sinds 1994 is het verboden om asbesthoudend materiaal te verwerken,
        bewerken of te verhandelen. Na dit jaartal is er in Nederland geen asbest
        meer gebruikt. Voor 1994 is asbest verwerkt in meer dan 3.500
        toepassingen, waaronder bouwmaterialen. Voordat wij werkzaamheden in
        gebouwen of aan installaties van voor 1994 mogen uitvoeren moet de
        opdrachtgever een asbestinventarisatierapport overleggen, daar waar de
        werken dat vereisen.
    </p>

    <h1>5. Kwaliteit</h1>

    <h2>5.1: Kwaliteitssystemen</h2>
    <p>
        Koninklijke Van Twist heeft kwaliteit hoog in het vaandel en is onder
        andere ISO 9001 en ISO 14001 gecertificeerd. De kwaliteit van al onze
        leveringen wordt hiermee continue bewaakt. Voor de door ons aangeboden
        leveringen en werken worden dan ook geen extra of specifieke Project
        Kwaliteit Plannen of Risico registers opgesteld. Het op verzoek van
        opdrachtgever (of haar opdrachtgever) opstellen van extra, aanvullende
        of anderzijds klant specifieke aangepaste Project Kwaliteit Plannen of
        Risico registers kunnen wij uitsluitend tegen meerkosten uitvoeren,
        tenzij vooraf anders overeengekomen.
    </p>

    <h2>5.2: Klachtafhandeling</h2>
    <p>
        Koninklijke Van Twist is ISO 9001 gecertificeerd. Dit kwaliteitssysteem
        kent een procedure voor melden, registreren en het afhandelen van klachten.
        Alle klachten worden geregistreerd en voorzien van datum, verantwoordelijke
        persoon voor afhandeling en te nemen (of genomen) actie. Dit klachtenregister
        wordt elk kwartaal met het Managementteam van Koninklijke Van Twist
        besproken, en elk half jaar vindt er een analyse op trend en
        doeltreffendheid door de Directie plaats. Een certificerende instantie
        ziet toe op de uitvoering hiervan.
    </p>

    <h2>5.3: Maatschappelijk Verantwoord Ondernemen</h2>
    <p>
        Koninklijke Van Twist neemt bij haar samenwerkingsverbanden, leveringen en
        inkopen de algemene beginselen in acht:
    </p>
    <ul>
        <li>Gelijke behandeling: eenieder krijgt gelijke kansen onder gelijke omstandigheden. Hierbij is discriminatie niet aan de orde.</li>
        <li>Wederzijdse erkenning: diensten en goederen worden bij voorkeur afgenomen van leveranciers die ook bij Koninklijke Van Twist inkopen.</li>
        <li>Algemene beginselen van behoorlijk bestuur. Koninklijke Van Twist neemt bij haar activiteiten de algemene beginselen van behoorlijk bestuur in acht, zoals het gelijkheidsbeginsel, motiveringsbeginsel en vertrouwensbeginsel.</li>
    </ul>
    <p>
        Koninklijke Van Twist stelt integriteit voorop. Koninklijke Van Twist heeft
        hoog in het vaandel staan dat haar medewerkers integer handelen. Zij
        handelen zakelijk en objectief waardoor bijvoorbeeld belangenverstrengeling
        wordt voorkomen.
    </p>
    <p>
        Inkoop vindt op maatschappelijk verantwoorde wijze plaats. Hierbij spelen
        onderwerpen als eerlijk zakendoen, (internationale) arbeidsomstandigheden
        en milieuaspecten een prominente rol. Ook worden leveringen en/of diensten
        geweerd die onder niet aanvaardbare arbeidsomstandigheden (zoals
        kinderarbeid, dwangarbeid, discriminatie van werknemers, niet-betaling van
        leefbaar loon) tot stand komen of zijn gekomen.
    </p>
    <p>
        Koninklijke Van Twist verwacht dat al haar partners en leveranciers
        trachten hetzelfde beleid te hanteren als Koninklijke Van Twist zelf,
        namelijk beleid:
    </p>
    <ul>
        <li>Waarbij activiteiten, inkoop en investeringen niet conflicteren met mensenrechten</li>
        <li>Dat nastreeft dat kinderarbeid wordt uitgebannen, en dat nastreeft dat gedwongen en verplichte arbeid wordt uitgebannen</li>
        <li>Dat nastreeft dat beveiligingspersoneel de mensenrechten respecteert, en dat nastreeft dat rechten van inheemse bevolking worden gerespecteerd</li>
        <li>Dat het minimaliseren van ongewenste effecten op de gemeenschap nastreeft</li>
        <li>Dat omkoping en corruptie door het bedrijf bestrijdt, en er zorg voor draagt geen activiteiten uit te voeren welke in strijd zijn met de kartelwet en regelgeving betreffende concurrentievervalsing</li>
        <li>Dat zorg draagt voor de gezondheid en veiligheid van eigen personeel en afnemers, en eigen personeel en afnemers niet in gevaar worden gebracht</li>
        <li>Dat zorg draagt voor het voldoende en juiste informeren van afnemers over de beoogde toepassing, gebruik en risico's en productpresentaties</li>
        <li>Dat er zorg voor draagt dat de privacy van haar medewerkers en klanten niet wordt aangetast</li>
        <li>Dat zorg draagt voor een positieve (of geen) of een zo min mogelijk negatief effect op de biodiversiteit in de omringende leefomgeving en daarbuiten</li>
        <li>Dat inspanningen doet om de effecten van productie en transport op milieu en ecosystemen zoveel mogelijk te reduceren</li>
        <li>Dat aantoont dat de leverancier inspanningen levert het product of dienst zo duurzaam mogelijk aan te kunnen bieden</li>
    </ul>
</section>

<section class="document-section page-start">
    <h1>6. Koninklijke Van Twist Verkoopvoorwaarden Onderhoudscontract</h1>

    <h2>Artikel 1: Algemene Verkoop- en Leveringsvoorwaarden Koninklijke Van Twist</h2>
    <p>
        <strong>1.1:</strong> Op alle aanbiedingen en overeenkomsten tussen
        Koninklijke Van Twist en haar opdrachtgever zijn, tenzij anders
        overeengekomen, de meest recente KVT-verkoopvoorwaarden van toepassing.
        Een exemplaar van deze voorwaarden is reeds in uw bezit. Op verzoek kan u
        kosteloos een exemplaar worden toegezonden. Uitdrukkelijk worden
        andersluidende voorwaarden afgewezen.
    </p>

    <h2>Artikel 2: Garantie en Aansprakelijkheid</h2>
    <p><strong>2.1:</strong> Koninklijke Van Twist verbindt zich om werkzaamheden welke onjuist zijn uitgevoerd, kosteloos te verbeteren en door haar geleverde ondeugdelijke onderdelen kosteloos te repareren of te vervangen, voor zover de daaraan verbonden kosten de kosten van de laatst verrichte service onderhoudswerkzaamheden niet te boven gaan.</p>
    <p><strong>2.2:</strong> De voornoemde aansprakelijkheid van Koninklijke Van Twist geldt voor een periode van 6 maanden, mits het aantal draaiuren en/of de serviceperiode vermeld in de fabrieksvoorschriften van de betreffende motor ten aanzien van een volgende servicebeurt niet wordt overschreden.</p>
    <p><strong>2.3:</strong> Op straffe van het verval van de aansprakelijkheid van Koninklijke Van Twist is de opdrachtgever gehouden om haar onmiddellijk na het constateren van een storing aan de motor te waarschuwen, haar instructies strikt op te volgen en haar in staat te stellen om de nodige reparatie op zo kort mogelijke termijn te verrichten.</p>
    <p><strong>2.4:</strong> De opdrachtgever verliest haar aanspraak op Koninklijke Van Twist eveneens, indien zonder haar voorkennis en toestemming modificaties aan de installatie worden uitgevoerd, welke in verband kunnen worden gebracht met de door ons uitgevoerde onderhoudswerkzaamheden.</p>
    <p><strong>2.5:</strong> De aansprakelijkheid van Koninklijke Van Twist strekt zich nimmer uit tot de vergoeding van directe of indirecte schade die de opdrachtgever c.q. derden op welke wijze dan ook mochten lijden ten gevolge van het niet of niet goed functioneren van de installatie. Opdrachtgever vrijwaart Koninklijke Van Twist van aansprakelijkheden door derde partijen.</p>
    <p><strong>2.6:</strong> Zonder tegen bevestiging van Koninklijke Van Twist wordt geen aansprakelijkheid aanvaard, voor toevoegingen en/of wijzigingen, door de opdrachtgever aangebracht, op het door ons aangeboden service onderhoudscontract.</p>

    <h2>Artikel 3: Prijzen, Tarieven, Indexatie en (bijkomende) Kosten</h2>
    <p><strong>3.1:</strong> De contracttarieven voor de aangeboden preventieve onderhoudswerken zijn inclusief arbeids- en reisuren en kilometervergoeding (exclusief eventuele parkeer- en ontheffingskosten), en zijn exclusief de standaard te verbruiken materialen tijdens preventieve onderhoudswerken, welke separaat worden aangeboden, tenzij anders omschreven.</p>
    <p><strong>3.2:</strong> Kosten veroorzaakt door eventuele wachttijden, en/of als gevolg van het annuleren van de werkzaamheden, en/of voorvloeiende uit het verplicht bijwonen van zogenaamde "Poort instructies, Toolboxen, Opstartvergaderingen e.d.", door de opdrachtgever, of diens aangewezen contactpersoon, worden op basis van nacalculatie volgens geldende uurtarieven doorbelast aan de opdrachtgever. Eventuele kosten gerelateerd aan screeningsprocedures, pas- en document aanvragen, visumaanvragen etc., benodigd om bij opdrachtgever werkzaamheden te kunnen uitvoeren worden op basis van nacalculatie doorbelast.</p>
    <p><strong>3.3:</strong> De contractprijzen worden gekoppeld aan o.a. het prijsindexcijfer van het C.B.S.</p>
    <p><strong>3.4:</strong> Koninklijke Van Twist behoudt zich het recht voor om het tarief voor het serviceonderhoudscontract, indien noodzakelijk, aan de gewijzigde omstandigheden aan te passen.</p>
    <p><strong>3.5:</strong> Bij afwijking van onze KVT Verkoop en Leveringsvoorwaarden behouden wij het recht de contracttarieven aan te passen.</p>
    <p><strong>3.6:</strong> Prijsstelling is per generator, gebaseerd op 1 preventieve onderhoudsbeurt per jaar, en is inclusief de vergoeding voor onze 24/7 beschikbaarheid dienst (storingsdienst), tenzij anders omschreven.</p>

    <h2>Artikel 4: Preventief Onderhoud</h2>
    <p><strong>4.1:</strong> De Preventieve onderhoudswerkzaamheden worden in overleg ingepland en uitgevoerd binnen normale werkuren (maandag t/m vrijdag, 08:15 - 16:45 uur).</p>
    <p><strong>4.2:</strong> De uitvoerdatum voor het preventief onderhoud zal in overleg worden ingepland, waarbij wij rekening zullen houden met de door u aangegeven voorkeur.</p>
    <p><strong>4.3:</strong> Uit te voeren werkzaamheden aan de installatie zullen door deskundig personeel worden uitgevoerd.</p>

    <h2>Artikel 5: Correctief Onderhoud, Storingen</h2>
    <p><strong>5.1:</strong> Onder correctief onderhoud wordt o.a. verstaan het verhelpen van storingen en het vervangen van onderdelen, geconstateerd tijdens preventief onderhoud, of geconstateerd door opdrachtgever, ten gevolge van slijtage en/of veroudering, of ten gevolge van onjuiste handelingen en/of gebruik van de installatie door opdrachtgever of derde partij, zoals bijvoorbeeld het gebruik van onjuiste brandstoffen en middelen door opdrachtgever en/of derden, verkeerde bedieningshandelingen en wijzigingen en/of aanpassingen aan of rond de installatie, uitgevoerd door opdrachtgever en/of derden.</p>
    <p><strong>5.2:</strong> Benodigd correctief onderhoud en herstelwerkzaamheden, alsmede het vervangen van defecte onderdelen, anders dan de onderdelen welke bij preventief onderhoud standaard worden vervangen, worden gemeld bij opdrachtgever, en op verzoek geoffreerd. Uitvoering geschiedt in overleg middels een daartoe strekkende opdracht.</p>
    <p><strong>5.3:</strong> Bij spoedeisende storingen zal Koninklijke Van Twist binnen vier uren na opdracht op locatie aanvangen met het verhelpen van de storing, dan wel stappen hebben ondernomen om de functionaliteit van de installatie te herstellen. Onder spoedeisende storing wordt verstaan: het buiten bedrijf zijn van de installatie, in die mate dat bij een eventuele uitval van de reguliere energievoorziening de installatie niet als noodvoorziening kan functioneren.</p>

    <h2>Artikel 6: Rapportage</h2>
    <p><strong>6.1:</strong> Na afloop van de werkzaamheden ontvangt de opdrachtgever een beknopt inspectierapport, met daarin vermeld de bevindingen van de monteur, alsmede eventuele technische aanbevelingen.</p>

    <h2>Artikel 7: Onuitvoerbaarheid Opdracht</h2>
    <p><strong>7.1:</strong> Opdrachtnemer is gerechtigd de uitvoering van zijn verplichtingen op te schorten dan wel te annuleren, als er omstandigheden blijken te zijn, die bij het sluiten van de overeenkomst niet te verwachten waren, dan wel buiten zijn invloedssfeer liggen, zoals bijvoorbeeld de omstandigheid dat leveranciers en/of onderaannemers van opdrachtnemer niet voldoen aan hun verplichtingen, het weer, brand, verlies en/of diefstal, wegblokkades en/of andere verkeersproblemen, stakingen en/of werkonderbrekingen.</p>
    <p><strong>7.2:</strong> Bij storingen aan de reguliere energievoorziening kan het voorkomen dat deze hele delen van het land treffen. In uitzonderlijke gevallen kunnen er gelijktijdig storingen aan installaties in deze regio ontstaan. Koninklijke Van Twist zal alles in het werk stellen om in deze situaties bij alle opdrachtgevers aan te vangen met het verhelpen van de storingen. In dergelijke situaties genieten instanties die een algemeen belang dienen, zoals bijvoorbeeld ziekenhuizen, de voorrang.</p>

    <h2>Artikel 8: Verplichtingen opdrachtgever</h2>
    <p><strong>8.1:</strong> Opdrachtgever dient het personeel van opdrachtnemer, desgewenst op vertoon van legitimatie en/of VCA-paspoort, vlot en ongehinderd de toegang tot de installatie te verschaffen voor het uitvoeren van de taken die voortvloeien uit de overeenkomst.</p>
    <p><strong>8.2:</strong> Opdrachtgever dient de opstellingsplaats van de installatie in opgeruimde staat, en vrij toegankelijk ter beschikking te stellen, en deze installatie dient zodanig opgesteld te zijn dat voldaan kan worden aan alle (Arbo) wet en regelgeving. Het eventueel plaatsen van voorzieningen, of inhuren van speciale middelen zoals steigermateriaal, wegafzettingen, hijs en klim materiaal etc., om aan de geldende regelgeving te voldoen zijn voor rekening opdrachtgever.</p>

    <h2>Artikel 9: Contractduur, Beëindiging</h2>
    <p><strong>9.1:</strong> De overeenkomst wordt aangegaan per datum ondertekening, voor een periode van 1 jaar, tenzij anders overeengekomen.</p>
    <p><strong>9.2:</strong> Beide partijen zijn gerechtigd om haar service onderhoudscontracten door opzegging met onmiddellijke ingang te beëindigen. Eventueel gemaakte kosten zullen door de opdrachtgever betaald moeten worden.</p>

    <h2>Artikel 10: Facturatie, Betaling</h2>
    <p><strong>10.1:</strong> Facturatie: bij positieve kredietbeoordeling achteraf, na uitvoering van de werkzaamheden, per onderhoudsbeurt.</p>
    <p><strong>10.2:</strong> Betaling: binnen 30 dagen na ontvangst van onze factuur. Bij uitgestelde betalingstermijnen zal het contracttarief worden aangepast.</p>
    <p><strong>10.3:</strong> De werken en rapportages dienen door de opdrachtgever binnen 5 werkdagen na uitvoering van de werken te worden geaccordeerd.</p>
</section>
