@page "/"
@using MJOP.Calculator.Models
@using MJOP.Calculator.Services
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@inject EquipmentModelService ModelService
@inject IJSRuntime JS

<div class="container mt-5">
    home
</div>

@code {
    
}
